@model LST.Models.TestAccountViewModel
@{
    Layout = "";
}

<dl class="dl-horizontal">
    <dt>报名功能</dt>
    <dd>
        [
        @if (Model.Enabled)
            {
            <a>可以使用</a>
        }
        else
        {
            if (!Model.Error.IsEmpty())
            {
                <a href="@Model.ErrorHref" class="tooltip-test" data-toggle="tooltip" title="@Model.Error">无法使用</a>
            }
            else
            {
                <a>无法使用</a>
            }
        }
        ]
    </dd>
    <dt>本次考试</dt>
    <dd>
        [
        @if (Model.Applied)
            {
            <a>已经报名</a>
        }
        else
        {
            <a>尚未报名</a>
        }
        ]
    </dd>
</dl>
<script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>

