<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <appSettings>
      <!--版本号-->
        <add key="Version" value ="Beta 2.1" />
      <!--主界面标题-->
        <add key="Name" value ="大学英语听力课程上课签到" />
      <!--作者信息/授权信息-->
        <add key="Author" value ="Self Education Association" />
      <!--连接字符串-->
        <add key="ConnectString" value ="Server=10.1.1.68\\SEASQLSERVER;Database=WorkOnline;Uid=checkin;Pwd=seacheckin;" />
      <!--界面底部文字-->
        <add key="Powered" value ="本程序由Self Education Association技术支持" />
      <!--链接文字-->
        <add key="LinkLabel" value ="点击本链接了解更多大学英语听力课程学习信息" />
      <!--链接地址-->
        <add key="LinkUrl" value ="http://10.1.1.68" />
      <!--是否显示更新信息，1是 0否-->
        <add key="ShowUpdate" value ="1" />
      <!--更新信息详情-->
        <add key="UpdateString" value ="2015.3.27 - Beta 2.1\n\r修正了一个会导致网络连接失败时，发送信息陷入死循环的Bug\n\r" />
      <!--是否显示弹窗，1是 0否-->
        <add key="ShowPage" value ="0" />
      <!--弹窗标识符-->
        <add key="PageLabel" value ="SEA团队招新进行中！" />
      <!--弹窗地址-->
        <add key="PageUrl" value ="http://10.1.1.68" />
      <!--发送心跳时不弹出检查选项的概率-->
        <add key="UnCheckProbability" value ="90" />
      <!--发送心跳的频率-->
        <add key="KeepFrequency" value ="10" />
      <!--检查选项的超时时间-->
        <add key="OverTime" value ="10" />
    </appSettings>
</configuration>