@{
    Layout = null;
}

<table class="table table-bordered" align="center">
    <tr>
        <th>节次</th>
        <th>时间</th>
        <th>星期一</th>
        <th>星期二</th>
        <th>星期三</th>
        <th>星期四</th>
        <th>星期五</th>
        <th>节次</th>
        <th>时间</th>
        <th>星期六</th>
        <th>星期日</th>
    </tr>
    <tr>
        <td>第一节</td>
        <td>07:50-09:40</td>
        <td id="time11"></td>
        <td id="time21"></td>
        <td id="time31"></td>
        <td id="time41"></td>
        <td id="time51"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>第二节</td>
        <td>09:40-11:50</td>
        <td id="time12"></td>
        <td id="time22"></td>
        <td id="time32"></td>
        <td id="time42"></td>
        <td id="time52"></td>
        <td>第一节</td>
        <td>9:30-12:00</td>
        <td id="time61"></td>
        <td id="time71"></td>
    </tr>
    <tr>
        <td>午自习</td>
        <td>11:50-13:10</td>
        <td id="time13"></td>
        <td id="time23"></td>
        <td id="time33"></td>
        <td id="time43"></td>
        <td id="time53"></td>
        <td>第二节</td>
        <td>12:00-14:00</td>
        <td id="time62"></td>
        <td id="time72"></td>
    </tr>
    <tr>
        <td>第三节</td>
        <td>13:10-15:10</td>
        <td id="time14"></td>
        <td id="time24"></td>
        <td id="time34"></td>
        <td id="time44"></td>
        <td id="time54"></td>
        <td>第三节</td>
        <td>14:00-16:00</td>
        <td id="time63"></td>
        <td id="time73"></td>
    </tr>
    <tr>
        <td>第四节</td>
        <td>15:10-17:00</td>
        <td id="time15"></td>
        <td id="time25"></td>
        <td id="time35"></td>
        <td id="time45"></td>
        <td id="time55"></td>
        <td>第四节</td>
        <td>16:00-18:00</td>
        <td id="time64"></td>
        <td id="time74"></td>
    </tr>
    <tr>
        <td>第五节</td>
        <td>18:00-19:30</td>
        <td id="time16"></td>
        <td id="time26"></td>
        <td id="time36"></td>
        <td id="time46"></td>
        <td id="time56"></td>
        <td>第五节</td>
        <td>18:00-19:30</td>
        <td id="time65"></td>
        <td id="time75"></td>
    </tr>
    <tr>
        <td>晚自习</td>
        <td>19:30-21:30</td>
        <td id="time17"></td>
        <td id="time27"></td>
        <td id="time37"></td>
        <td id="time47"></td>
        <td id="time57"></td>
        <td>第六节</td>
        <td>19:30-21:30</td>
        <td id="time66"></td>
        <td id="time76"></td>
    </tr>
</table>
